* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
    font-family: "Poppins", sans-serif;
}

h1,
h2,
h3,
h4,
h5 {
    font-family: "Sora", sans-serif;
}

body {
    font-size: 1.6rem;
    background-color: var(--background-color);
}

input,
select,
textarea,
button {
    font-size: inherit;
    font-family: inherit;
}

/* =====================   variables   ===================== */
:root {
    --primary-color: #ff5b2e;
    --secondary-color: #000958;
    --text-color: #656689;
    --section-color: #fff6ed;
    --background-color: #fffaf5;
}

/* =====================   common   ===================== */
.container {
    width: 1170px;
    max-width: calc(100% - 48px);
    margin: 0 auto;
}

.btn {
    min-width: 130px;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    --height: 56px;
    height: var(--height);
    border: 1px solid var(--primary-color);
    color: var(--primary-color);
    text-align: center;
    font-size: 1.6rem;
    font-weight: 500;
    border-radius: 99px;
    line-height: var(--height);
    cursor: pointer;
}

.btn__icon {
    margin-left: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    background-color: #fff;
}

.btn:hover {
    opacity: 90%;
}

.btn__primary {
    color: white !important;
    background-color: var(--primary-color) !important;
}

a {
    text-decoration: none;
    color: inherit;
}

.section__heading {
    color: var(--secondary-color);
    font-size: 5.2rem;
    font-style: normal;
    font-weight: 700;
    line-height: 1.2;
}
.section__desc {
    margin-top: 20px;
    color: #656689;
    font-family: Poppins;
    font-size: 1.6rem;
    font-style: normal;
    font-weight: 400;
    line-height: 1.87;
}

/* =====================   Header   ===================== */
.header {
    padding: 26px 0;
}

.signup-btn {
    min-width: 118px;
    --height: 50px;
    font-size: 1.4rem;
    font-weight: 600;
    color: var(--secondary-color);
    border: 1px solid var(--secondary-color);
}

.header-inner {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.navbar__list {
    display: flex;
}

.navbar__link {
    padding: 0px 16px;
    color: #5e6085;
    font-size: 1.4rem;
    font-style: normal;
    font-weight: 500;
    line-height: 1;
}

.navbar__link:hover {
    text-shadow: 1px 0 0 currentColor;
    color: var(--secondary-color);
}

/* =====================   Hero   ===================== */
.hero {
    margin-top: 74px;
}

.hero__inner {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.hero__media {
    position: relative;
    display: flex;
    padding-bottom: 94px;
    padding-right: 163px;
}
.hero__img--wrap {
    position: relative;
    display: flex;
    justify-content: center;
    width: 388px;
    height: 488px;
    border: 3px solid #fff;
    border-radius: 16px;
    background: #fe997b;
}

.hero__img {
    max-width: 100%;
    max-height: 100%;
    border-radius: inherit;
}

.hero__decor {
    position: absolute;
    z-index: -1;
}
.hero__decor--left {
    left: -58px;
    bottom: 10px;
}

.hero__decor--right {
    right: -40px;
    top: 16px;
}

.hero__img--wrap--small {
    position: absolute;
    right: 0;
    bottom: 58px;
    width: 186px;
    height: 244px;
    border: 3px solid #faa7ad;
    background: linear-gradient(0deg, #e87f8a, #faa7ad);
}

.hero__list {
    position: absolute;
    left: 129px;
    bottom: 0;
    width: 250px;
    height: 156px;
    border-radius: 10px;
    background: #fff;
    box-shadow: -17px 14px 68px -4px rgba(207, 174, 132, 0.25);
    padding: 18px 14px;
}

.hero-list-item {
    display: flex;
    column-gap: 10px;
}

.hero-list-item__thumb {
    width: 40px;
    height: 40px;
    border-radius: 10px;
    background: #fec23f;
    object-fit: cover;
}

.hero-list-item__thumb--blue {
    background: #6597c2;
}

.hero-list-item__skeleton {
    width: 118px;
    height: 4px;
    border-radius: 10px;
    opacity: 0.08;
    background: var(--secondary-color);
    margin-top: 6px;
}

.hero-list-item__skeleton:last-child {
    width: 39px;
}

.hero-list-item__title {
    color: var(--secondary-color);
    font-size: 1.4rem;
    font-style: normal;
    font-weight: 600;
}

.hero-list-item__divide {
    display: block;
    border-radius: 1px;
    height: 2px;
    background: #f2f2f2;
    margin: 20px auto;
}

.hero__content {
    width: 44%;
}

.hero__heading {
    font-size: 6.6rem;
    font-weight: 800;
    line-height: 1.15; /* 115.152% */
}

.heading__btn {
    color: white;
    width: 189px;
    height: 60px;
    background: #ff5b2e;
    box-shadow: 0px 13px 26px -8px rgba(255, 91, 46, 0.42);
}
.hero__row {
    display: flex;
    align-items: center;
    margin-top: 38px;
}

.heading__desc {
    max-width: 391px;
}

.hero__cta-btn {
    --height: 60px;
    min-width: 190px;

    box-shadow: 0px 13px 26px -8px rgba(255, 91, 46, 0.42);
}

.hero__cta-link {
    margin-left: 24px;
    color: #000958;
    text-align: center;
    font-size: 1.6rem;
    font-style: normal;
    font-weight: 500;
    text-decoration: underline;
}

/* =====================   About   ===================== */
.about {
    margin-top: 77px;
    padding: 53px 0;
}
.about__inner {
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
    row-gap: 146px;
}

.about__label {
    font-family: Sora, Sans-serif;
    color: #5e6085;
    font-size: 1.6rem;
    font-weight: 600;
    line-height: 1; /* 100% */
}
.about__heading {
    margin-top: 15px;
    max-width: 446px;
    color: var(--secondary-color);
    font-size: 5.2rem;
    font-style: normal;
    font-weight: 700;
    line-height: 1.19;
}
.about__desc {
    max-width: 431px;
}

.about__checklist {
    display: grid;
    grid-template-columns: auto auto;
    margin-top: 54px;
    justify-content: flex-start;
    gap: 36px;
}

.about__check-item {
    position: relative;
    display: flex;
    align-items: center;
    column-gap: 10px;
    color: #48496a;
    font-size: 1.8rem;
    font-style: normal;
    font-weight: 500;
}

.about__check-item::before {
    content: "";
    display: inline-block;
    width: 24px;
    height: 24px;
    background-color: var(--primary-color);
    border-radius: 4px;
    box-shadow: 0px 4px 15px -3px rgba(255, 93, 49, 0.69);
}

.about__check-item::after {
    position: absolute;
    content: url(../icons/check.svg);
    top: 2px;
    left: 5px;
}

.about__media {
    position: relative;
}

.about__card-title {
    color: white;
    font-size: 4.2rem;
    font-style: normal;
    font-weight: 700;
}

.about__card-desc {
    padding-top: 14px;
    color: #c6f4f9;
    font-size: 1.4rem;
    font-style: normal;
    font-weight: 400;
    line-height: 1.42; /* 142.857% */
}
.about__card {
    position: absolute;
    top: 165px;
    left: 0;
    text-align: center;
    width: 136px;
    box-shadow: -15px 26px 48px 0px rgba(85, 240, 255, 0.17);
    border-radius: 10px;
    background: #5bd6e2;
    padding: 30px 26px;
}

.about__card-decor {
    position: absolute;
    top: -36px;
    right: -33px;
}

.about__img-wrapper {
    position: relative;
    width: 494px;
    margin-left: auto;
}

.about__img-wrapper::before {
    position: absolute;
    height: 336px;
    inset: auto 0 0 0;
    content: "";
    border-radius: 16px;
    z-index: -1;
    background: linear-gradient(180deg, #fce0ef 0%, #fac3d1 100%);
}

.about__img {
    display: block;
    width: 450px;
    margin: 0 auto;
}

.about__media-decor {
    position: absolute;
    right: -50px;
    top: 157px;
    z-index: -1;
}

.about__img-wrapper-bottom {
    border-radius: 18px;
    border: 2px solid #fff;
    background: linear-gradient(180deg, #c6e2fa 0%, #94c2ea 100%);
    box-shadow: 0px 17px 77px -8px rgba(190, 165, 139, 0.17);
    margin-left: 0;
    width: 458px;
}

.about__img-wrapper-bottom::before {
    content: none;
}

.about__img-bottom {
    width: 100%;
}

.about__media-decor-img {
    position: absolute;
}

.about__media-decor-img:nth-child(1) {
    top: 13px;
    right: 64px;
}

.about__media-decor-img:nth-child(2) {
    right: 13px;
    top: -16px;
}
.about__media-decor-img:nth-child(3) {
    top: 33px;
    right: -21px;
}
.about__media-decor-img:nth-child(4) {
    top: 268px;
    right: -20px;
}
.about__media-decor-img:nth-child(5) {
    right: -42px;
    bottom: -55px;
}
.about__media-decor-img:nth-child(6) {
    right: 150px;
    bottom: 19px;
}
.about__media-decor-img:nth-child(7) {
    top: 268px;
    right: -10px;
}

.about__content-desc {
    max-width: 511px;
}

.tab {
    margin-top: 52px;
}
.tab__list {
    position: relative;
    display: inline-flex;
    align-items: center;
    column-gap: 56px;
}

.tab__list::after,
.tab__item--active::after {
    position: absolute;
    content: "";
    left: 0;
    right: 0;
    bottom: 0;
    height: 2px;
    opacity: 0.07;
    background: #ff5b2e;
    border-radius: 1px;
}
.tab__item--active::after {
    width: 95px;
    opacity: 1;
}

.tab__item {
    position: relative;
    display: flex;
    align-items: center;
    column-gap: 12px;
    padding-bottom: 12px;
}
.tab__icon {
    width: 20px;
}
.tab__title {
    color: #48496a;
    font-size: 1.8rem;
    font-weight: 600;
    cursor: pointer;
}

.tab__content {
    display: flex;
}

.tab__content-item-desc {
    margin-top: 36px;
    max-width: 391px;
    color: #656689;
    font-family: Poppins;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 1.71;
}

.tab__content-item {
    display: none;
}

.tab__content-item-link {
    display: inline-block;
    position: relative;
    margin-top: 32px;
    color: var(--primary-color);
    font-family: Poppins;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    padding-bottom: 5px;
}

.tab__content-item-link::after {
    position: absolute;
    content: "";
    height: 1.5px;
    background: var(--primary-color);
    border-radius: 1px;
    bottom: 0;
    left: 0;
    right: 0;
}

.tab__content-item--active {
    display: block;
}

/* =====================   Services   ===================== */

.services {
    margin-top: 130px;
    padding: 68px 0 100px 0;
    background: var(--section-color);
}
.services__top {
    text-align: center;
}

.services__desc,
.staff__desc {
    color: #5e6085;
    font-family: Sora;
    font-size: 1.6rem;
    font-style: normal;
    font-weight: 600;
    margin-bottom: 15px;
}
.services__body {
    margin-top: 70px;
    display: grid;
    grid-template-columns: auto 1fr auto;
    column-gap: 62px;
}
.services__col {
    display: flex;
    flex-direction: column;
    row-gap: 24px;
}

.services__item {
    padding: 30px;
    border-radius: 10px;
    border: 2px solid rgba(255, 188, 122, 0.26);

    background: #fff;
}

.service-item__heading {
    display: inline-flex;
    position: relative;
    color: var(--secondary-color);
    font-size: 2.2rem;
    font-style: normal;
    font-weight: 600;
    padding-left: 12px;
}

.service-item__heading::before {
    content: ""; /* Tạo nội dung rỗng */
    position: absolute;
    display: inline-block;
    left: 0px;
    width: 2px; /* Độ rộng của vạch */
    height: 100%; /* Chiều cao bằng với heading */
    background: linear-gradient(
        180deg,
        #ff7a3e,
        #ff5b2e
    ); /* Màu cam gradient */
    border-radius: 2px; /* Bo góc */
}

.service-item__desc {
    max-width: 244px;
    margin-top: 18px;
    color: #656689;
    font-family: Poppins;
    font-size: 1.4rem;
    font-style: normal;
    font-weight: 400;
    line-height: 1.71;
}
.service-item__link {
    display: inline-flex;
    align-items: center;
    margin-top: 24px;
    color: #34396a;
    font-family: Sora;
    font-size: 1.2rem;
    font-style: normal;
    font-weight: 400;
}

.service-item__link::after {
    content: url(../icons/ArrowUpRight.svg);
    margin-left: 5px;
    margin-top: 2px;
}

.services__media {
    position: relative;
    margin-top: 18px;
    z-index: 1;
}

.services__media::after {
    position: absolute;
    content: "";
    border-radius: 10px;
    background: linear-gradient(180deg, #9df1fb 0%, #73d0db 108.14%);
    height: 350px;
    left: 12px;
    bottom: 0;
    right: 12px;
}
.services__image {
    display: block;
    position: relative;
    z-index: 1;
    width: 100%;
}

.services__cta-wrap {
    margin-top: 45px;
    display: flex;
    justify-content: center;
}

.services__cta {
    min-width: 214px;
}

/* =====================   Services   ===================== */

.staff {
    padding: 130px 0;
}

.staff__desc,
.staff__heading {
    text-align: center;
}

.staff__heading {
    margin-top: 15px;
}

.staff__list {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    column-gap: 35px;
    margin-top: 45px;
}
.staff-item {
    text-align: center;
}

.staff-item__img-wrap {
    position: relative;
    margin: 0 16px;
    border-radius: 130px;
}
.staff-item__img-wrap::after {
    content: "";
    position: absolute;
    left: 50%;
    bottom: 0;
    transform: translateX(-50%);
    width: calc(100% + 40px);
    height: 100%;
    background-repeat: no-repeat;
    background-position: bottom;
    background-size: 100%;
}

.staff-item:nth-child(1) .staff-item__img-wrap::after {
    background-image: url(../imgs/staff/decor-01.svg);
}
.staff-item:nth-child(2) .staff-item__img-wrap::after {
    background-image: url(../imgs/staff/decor-02.svg);
}
.staff-item:nth-child(3) .staff-item__img-wrap::after {
    background-image: url(../imgs/staff/decor-03.svg);
}
.staff-item:nth-child(4) .staff-item__img-wrap::after {
    background-image: url(../imgs/staff/decor-04.svg);
}

.staff-item:nth-child(even) .staff-item__img-wrap::after {
    background-position: 0 16px;
}

.staff-item__img-wrap::before {
    content: "";
    position: absolute;
    width: 100%;
    height: 96%;
    background: linear-gradient(180deg, #fce0ef 0%, #fac3d1 100%);
    bottom: 0;
    left: 0;
    border-radius: inherit;
}

.staff-item:nth-child(1) .staff-item__img-wrap::before {
    background: linear-gradient(180deg, #90ccff 0%, #59a8eb 95.96%);
}
.staff-item:nth-child(2) .staff-item__img-wrap::before {
    background: linear-gradient(180deg, #ff997e 0%, #f3752e 100%);
}
.staff-item:nth-child(3) .staff-item__img-wrap::before {
    background: linear-gradient(180deg, #fabf3e 0%, #ffa14a 100%);
}
.staff-item:nth-child(4) .staff-item__img-wrap::before {
    background: linear-gradient(180deg, #5bd6e2 0%, #00a7cc 100%);
}

.staff-item__img {
    position: relative;
    z-index: 1;
    display: block;
    width: 100%;
    border-radius: inherit;
}

.staff-item__title {
    color: var(--text-color);
    font-size: 1.4rem;
    font-style: normal;
    font-weight: 400;
    margin-top: 29px;
}

.staff-item__name {
    color: var(--secondary-color);
    font-size: 2.2rem;
    font-style: normal;
    font-weight: 600;
    margin-top: 14px;
}
.staff__cta-wrap {
    margin-top: 48px;
    display: flex;
    justify-content: center;
}

.staff__cta {
    min-width: 193px;
}

/* =====================   Pricing  ===================== */
.pricing {
    padding: 86px 0;
    background-color: var(--section-color);
}

.pricing__heading,
.pricing__desc {
    text-align: center;
}

.pricing__desc {
    max-width: 709px;
    margin-left: auto;
    margin-right: auto;
}

.pricing__switch-wrap {
    margin-top: 38px;
    display: flex;
    justify-self: center;
}

.pricing__switch-label {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 40px;
    width: 276px;
    height: 56px;
    border-radius: 99px;
    border: 1px solid color(srgb 1 0.36 0.18 / 0.6);
    user-select: none;
    cursor: pointer;
}

.pricing__switch-label::before {
    position: absolute;
    content: "";
    width: 140px;
    height: 56px;
    left: 0;
    top: 0;
    background-color: var(--primary-color);
    border-radius: inherit;
}
.pricing__switch-value {
    position: relative;
    z-index: 1;
    color: #fff;
    text-align: center;
    font-size: 1.6rem;
    font-style: normal;
    font-weight: 500;
}

.pricing__switch-input:checked + .pricing__switch-label::before {
    left: auto;
    right: 0;
    width: 136px;
}

.pricing__switch-input:not(:checked)
    + .pricing__switch-label
    .pricing__switch-value:nth-child(2),
.pricing__switch-input:checked
    + .pricing__switch-label
    .pricing__switch-value:nth-child(1) {
    color: var(--primary-color);
}

.pricing__switch-inner {
    position: relative;
}
.pricing-img {
    position: absolute;
    top: -10px;
    right: -112px;
}

.pricing__list {
    padding: 0 90px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    column-gap: 30px;
    margin-top: 56px;
}

.pricing-item {
    background-color: #fff;
    padding: 30px 28px;
    border-radius: 20px;
}
s {
    box-shadow: 0px 20px 44px 0px rgba(195, 108, 22, 0.06);
}

.pricing-item__type {
    color: var(--primary-color);
    font-size: 1.2rem;
    font-style: normal;
    font-weight: 400;
}

.pricing-item__title {
    margin-top: 8px;
    color: #3f4065;
    font-size: 1.8rem;
    font-style: normal;
    font-weight: 600;
}

.pricing-item__price {
    margin-top: 24px;
    color: #000958;
    font-family: Sora;
    font-size: 34px;
    font-style: normal;
    font-weight: 700;
    line-height: 34px;
}

.pricing-item__btn {
    --height: 44px;
    width: 100%;
    margin-top: 22px;
    color: #ff5b2e;
    text-align: center;
    font-size: 1.6rem;
    font-style: normal;
    font-weight: 500;
    border: 1px solid rgba(255, 91, 46, 0.6);
    background-color: transparent;
}

.pricing-item__list {
    margin-top: 24px;
}

.pricing-item__item {
    display: flex;
    margin-top: 18px;
    color: #656689;
    font-size: 1.4rem;
    font-style: normal;
    font-weight: 400;
}

.pricing-item__item::before {
    content: url(../icons/Check2.svg);
    margin-right: 14px;
}
/* =====================   review   ===================== */
.review {
    padding: 53px 0;
}
.review__inner {
    column-gap: 44px;
    display: flex;
    align-items: center;
}

.review__control {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 54px;
    height: 54px;
    border-radius: 50%;
    border: 1.5px solid #ffd1c4;
    flex-shrink: 0;
    background-color: transparent;
    color: var(--primary-color);
}

.review__control:hover {
    background-color: var(--primary-color);
    color: #fff;
}

.review-item {
    display: flex;
    align-items: center;
    column-gap: 115px;
}

.review-item__quote {
    margin-top: 24px;
    color: #000;
    font-family: Poppins;
    font-size: 1.8rem;
    font-style: normal;
    font-weight: 400;
    line-height: 1.55;
}

.review-item__author {
    display: flex;
    align-items: center;
    margin-top: 34px;
    color: #282828;
    font-family: Sora;
    font-size: 1.8rem;
    font-style: normal;
    font-weight: 600;
}

.review-item__author::before {
    display: inline-block;
    content: "";
    left: 0;
    width: 20px;
    height: 2px;
    background: #000;
    border-radius: 1px;
    margin-right: 8px;
}

.review-item__media {
    position: relative;
    flex-shrink: 0;
    width: 274px;
    border-radius: 137px;
}

.review-item__media::before {
    content: "";
    position: absolute;
    inset: auto 0 0 0;
    height: 82%;
    background: #ffda54;
    border-radius: inherit;
}

.review-item__img {
    display: block;
    width: 100%;
    position: relative;
    z-index: 1;
    border-radius: inherit;
}
.review-item__content {
    margin-top: 60px;
}

.review__dots {
    margin-top: 56px;
    display: flex;
    justify-content: center;
    column-gap: 8px;
}

.review__dot {
    width: 8px;
    height: 8px;
    border-radius: 50%;
    border: 1px solid #ff5b2e;
}

.review__dot--active {
    width: 24px;
    background-color: var(--primary-color);
    border-radius: 5px;
}
.review__dot:hover {
    background-color: var(--primary-color);
    cursor: pointer;
}

/* =====================   review   ===================== */
.blog {
    padding-top: 78px;
}

.blog__top {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.blog__info {
    max-width: 350px;
    margin-right: 74px;
}
.blog__desc {
    margin-top: 0;
}

.blog__cta {
    margin-top: 24px;
    border-radius: 31px;
    border: 1px solid #ff5b2e;
    opacity: 0.6;
    box-shadow: 0px 13px 26px -8px rgba(255, 91, 46, 0.42);
    min-width: 182px;
    --height: 56px;
}

.blog__list {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    column-gap: 48px;
    margin-top: 54px;
}

.blog-item__img {
    display: block;
    margin-top: 25px;
    width: 100%;
    height: 296px;
    object-fit: cover;
    border-radius: inherit;
}

.blog-item__img-wrap {
    padding: 24px 0 0 36px;
    border-radius: 24px;
    background: #90ccff;
}

.blog-item:nth-child(2) .blog-item__img-wrap {
    background: #ff997e;
}

.blog-item:nth-child(3) .blog-item__img-wrap {
    background: #5bd6e2;
}

.blog-item__time {
    color: #fff;
    font-family: Sora, sans-serif;
    font-size: 1.4rem;
    font-weight: 400;
    line-height: 1.21;
}
.blog-item__info {
    padding: 28px 26px 0 0;
}
.blog-item__title {
    color: var(--secondary-color);
    font-family: Sora;
    font-size: 2.2rem;
    font-weight: 600;
    line-height: 1.54; /* 154.545% */
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
}

.blog-item__desc {
    margin-top: 16px;
    color: #656689;
    font-family: Poppins;
    font-size: 1.4rem;
    font-weight: 400;
    line-height: 1.71;
}
